p {
    text-align: left;
} 

.user {
    position: relative;
    margin-bottom: 10px;
}
.profile {
    position: absolute;
    top: 65%;
    left: 8%;
    height: 35%;
    border-radius: 100%;
    border: 3px solid black;
    z-index: 1;
}

.banner {
    position: relative;
    width: 100%;
    max-height: 420px; 
    z-index: 0;
}

.filler {
    padding: 2000px;
}