p {
    text-align: left;
} 

.user {
    position: relative;
}
.profile {
    position: absolute;
    top: 65%;
    left: 10%;
    height: 35%;
    border-radius: 100%;
    border: 3px solid black;
    z-index: 1;
}

.banner {
    position: relative;
    overflow-y: hidden;
    overflow: hidden;
    width: 100%;
    max-height: 420px; 
    z-index: 0;
}