.App-logo {
    text-align: left;
    display: block;
    float: left;
    animation: App-logo-spin infinite 20s linear;
    width: 75px;
    height: 50px;
    padding-right: 25px;
}

.App-header {
    background-color: rgb(169, 96, 184);
    height: 50px;
    color: white;
    padding: 0px;
}

.App-title {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    display: block;
    float: left;
    font-size: 1.5em;

}
  