.App-logo {
    text-align: left;
    display: block;
    float: left;
    animation: App-logo-spin infinite 20s linear;
    width: 70px;
    height: 70px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 25px;
}

.App-header {
    background-color: rgb(75, 67, 148);
    height: 70px;
    color: rgb(255, 255, 255);
    padding: 0px;
}

.App-title {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    display: block;
    float: left;
    padding-top: 5px;
    font-size: 1.5em;

}
  