.App-logo {
    text-align: left;
    display: block;
    float: left;
    animation: App-logo-spin infinite 20s linear;
    width: 50px;
    margin-top: 8px;
    padding-right: 15px;
    /* height: 100%; */
}

.App-header {
    background-color: rgb(169, 96, 184);
    height: 50px;
    padding: 00px;
    color: white;
}

.App-title {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-size: 1.2em;
    display: block;
    float: left;
}
/* 
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  } */
  